<pre>{{ items | json }}</pre>

<div class="slider" *ngFor="let item of items">
  <div class="slide">
    <div class="slide-bg">
      <img
        class="slide-bg-image"
        src="https://image.tmdb.org/t/p/original{{ item.poster_path }}"
        alt=""
      />
    </div>
    <div class="slide-pane">
      <h2 class="name">{{ item.title }}</h2>
      <div class="meta">
        <div class="info">
          <span class="rating">
            <span class="app-icon">star</span
            ><span class="rating-value">{{ item.vote_average }}</span
            ><span>/10</span>
          </span>
          <span>{{ item.vote_count }} reviews</span>
          <span>2023</span>
        </div>
      </div>
      <div class="desc mt-6">
        Queen Ramonda, Shuri, M’Baku, Okoye and the Dora Milaje fight to protect their nation from
        intervening world powers in the wake of King T’Challa’s death. As the Wakandans strive to
        embrace their next chapter, the heroes must band together with the help of War Dog Nakia and
        Everett Ross and forge a new path for the kingdom of Wakanda.
      </div>
    </div>
  </div>
</div>
